<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kredi Kartınız ile NFT Almaya Başlayın | NFTMarkt</title>
  </head>
  <link rel="stylesheet" href="/file/index.css">
  <body>
    <div class="navbar">
      <img src="/file/Markt.png" style="height: 75px" alt="" />
      <a href="/sign" style="color: gray; float: right; text-decoration: none; margin-right: 50px; margin-top: 25px">Giriş Yap</a>
    </div>
    <div class="head-main">
      <div class="title-box">
        <h1 class="title">Lira ile NFT alıp satmaya başlayın.</h1>
        <p style="font-size: 1.5rem" id="description">
          Web 3.0'ın fırsatlar ile dolu dünyasına uğraşsız adım atın. Cüzdan
          bağlantıları ve kripto para borsalarıyla uğraşmadan kredi kartınız ile
          NFT alıp satın.
        </p>
        <script>
          if(window.innerHeight > window.innerWidth){
            document.getElementById("description").style.display = "none"
          }
        </script>
      </div>
      <div
        class="mosaic-loader"
        style="position: absolute; top: 30%; right: 10%"
      >
        <div class="cell d-0"></div>
        <div class="cell d-1"></div>
        <div class="cell d-2"></div>
        <div class="cell d-3"></div>
        <div class="cell d-1"></div>
        <div class="cell d-2"></div>
        <div class="cell d-3"></div>
        <div class="cell d-4"></div>
        <div class="cell d-2"></div>
        <div class="cell d-3"></div>
        <div class="cell d-4"></div>
        <div class="cell d-5"></div>
        <div class="cell d-3"></div>
        <div class="cell d-4"></div>
        <div class="cell d-5"></div>
        <div class="cell d-6"></div>
      </div>
    </div>
    <div class="fractional-ownership">
      <h1>Kısmı Mülkiyet ile Tanışın - Yakında</h1>
      <p>
        İstediğiniz kadar yatırımı istediğiniz mülke yapın ve dengelenmiş bir
        portfolyo oluşturun. Kısmı mülkiyet sayesinde NFTlerin tümüne sahip
        olmanız gerekmez bir kısmını alarak istediğiniz kadar yatırım yapma
        imkanına sahip olursunz.
      </p>
    </div>
    <div class="ease-of-use">
      <h1>Kolayca Başlayın</h1>
      <p>
        Cüzdan oluşturma, bağlama veya kripto para aktarma gibi zorluklar ile
        uğraşmadan kredi veya banka kartınız ile doğrudan istediğiniz NFT'nin
        sahibi olun. İstediğiniz taktirde NFT'lerinizi istediğiniz bir başka
        cüzdana ücretsiz olarak aktarın.
      </p>
    </div>
    <div class="fractional-ownership">
      <h1>Yatırımlarınızı tek ekrandan yönetin</h1>
      <p>
        Farklı cüzdanlar veya borsalar ile uğraşmayın. NFTMarkt diğer NFT
        pazaryerleri ile de uyumlu çalışır yani diğer pazaryerlerinde bulunan
        NFTleri de NFTMarkt üzerinden alabilirsiniz. Bu sayede portfolyonuzu tek
        bir arayüz üzerinden görüntüler, zamandan tasarruf edersiniz.
      </p>
    </div>
    <div class="ease-of-use">
      <h1>Şeffaf ücretlendirme</h1>
      <p>
        Her satın alımınızda yüksek borsa komisyonları ödemek yerine sabit
        olarak aylık 2₺ hizmet bedeli alınır. Bu sayede alım satım maliyetlerini
        düşünmeden yatırımlarınızı yapabilirsiniz.
      </p>
    </div>
        <footer>
          <div>
            <span class="logo">NFT Yazılım AŞ</span>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="link-cat" onclick="footerToggle(this)">
                <span class="footer-toggle"></span>
                <span class="footer-cat">Solutions</span>
              </div>
              <ul class="footer-cat-links">
                <li>
                  <a><span>Advertising</span></a>
                </li>
                <li>
                  <a><span>Enterprise Software</span></a>
                </li>
                <li>
                  <a><span>Financial Services</span></a>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <div class="link-cat" onclick="footerToggle(this)">
                <span class="footer-toggle"></span>
                <span class="footer-cat">Bize Ulaşım</span>
              </div>
              <ul class="footer-cat-links">
                <li>
                  <a href=""><span>iletişim@nftmarkt.com.tr</span></a>
                </li>
                <li>
                  <a href=""><span>+90 850...</span></a>
                </li>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <div class="link-cat" onclick="footerToggle(this)">
                <span class="footer-toggle"></span>
                <span class="footer-cat">Linkler</span>
              </div>
              <ul class="footer-cat-links">
                <li>
                  <a href="/signup"><span>Kayıt Ol</span></a>
                </li>
                <li>
                  <a href="/terms"><span>Koşullar ve Şartlar</span></a>
                </li>
                <li>
                  <a href="/signin"><span>Giriş Yap</span></a>
                </li>
              </ul>
            </div>
            <div class="col-3" id="newsletter">
              
              <div id="address">
                <span>Office Location</span>
                <br>
                <br>
                <div>
                    New Castle
                  19709, Suite 206, New Castle, Delaware, United States
                  </div>
              </div>
            </div>
          </div>
          <div id="copyright">&copy; All Rights Reserved 2022</div>
        </footer>
      </body>
    </html>
  </body>
  <script>
    if (window.innerWidth < window.innerHeight) {
      document.getElementsByClassName("mosaic-loader")[0].style.display =
        "none";
    }
  </script>
</html>
